<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css">
        <title>Image changes</title>

    </head>
    <body>
        <main id="main">

<!-- 
        <p class="component" v-for="image in images" :key="image.id" v-if="images.length"
            @click="showId(image.id)">
            <img v-bind:src="image.url" v-bind:alt="image.title" width="180"
          height="100" class="image2" @click="this.checkForId=image.id" >
             
        </p> -->

        <!-- this renders our component (inside Main) -->
        
    <!-- </div> -->


            <h2>Are you ready to make some changes to your pictures?</h2>
            <div class="form">
                <form method="POST" action="/image" ref="addImageForm" enctype="multipart/form-data" @submit.prevent="onFormSubmit">
                    <label for="title">Title: </label>
                    <input type="text" name="title">
                    <label for="description">Description: </label>
                    <input type="text" name="description">
                    <label for="username">Username: </label>
                    <input type="text" name="username"></br></br>
                    <label for="photo">Upload a Photo:  </label>
                    <input type="file" accept="image/*" name="photo" class="upload-btn">
                    <input type="submit" name="button" class="submit-btn">
                </form>
                    <my-component v-if="this.id"  @close="closeModalInApp"   :id='id' ></my-component>

  
                <div class="status">{{status}}</div>
            </div>
            <div class="images">
                <div id="image" v-for="image in images" class="image">
                    <img v-bind:src="image.url" v-bind:alt="image.title" width="180"
        height="100" class="image2" @click="showId(image.id)" >
                    <p>{{ image.title }}</p>
                </div>
            </div>
        
   



 


<div class="button-class">
 <button type="button"  v-if="MyButton" @click="getMoreImages" id="GetmoreImagesButton">Load More images</button>

</div>

<!-- <div class="modalComponent"></div> <p></p> -->



        </main>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="/js/app.js" type="module"></script>
    </body>
</html>