main {
  width: 80%;
  margin: 0 auto;
}

.hot {
  color: red;
  text-shadow: 1px 1px 10px orange;
}

.cold {
  color: lightskyblue;
  text-shadow: 1px 1px 10px pink;
}

/* .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  border: 2px solid black;
} */

/* .image {
  font-size: 22px;
  padding: 3px;
} */

.highlighted {
  background-color: yellow;
  font-size: 36px;
}

.parent {
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  background-color: grey;

  text-align: center;
  margin: 5px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
}

.image {
  width: 190px;
  height: 150px;
  /* display: grid; */
  /* align-content: center; */
  /* justify-content: space-evenly; */
  border: 2px solid black;
  border-radius: 5%;
  text-align: center;
  margin: 5px;
}

.image2 {
  margin: 5px;
  border-radius: 5%;
}
