body {
    display: grid;
    /* grid-template-rows: 1fr 50px; */
    background: linear-gradient(to left, blue, lightgrey);
    /* justify-content: center; */
    /* align-items: center; */
    height: auto;
    font-family: fantasy;
}
input {
    border-radius: 20px;
}

h2 {
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: bisque;
    opacity: 0.7;
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-content: center;
    text-align: center;
    gap: 4vw;
}

.image {
    width: 190px;
    height: 160px;
    /* display: grid; */
    /* align-content: center; */
    /* justify-content: space-evenly; */
    border: 2px solid black;
    border-radius: 5%;
    text-align: center;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5);
    background-color: aliceblue;
}

.image2 {
    border-radius: 5%;
    border: 2px solid black;
}

.form {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    background: linear-gradient(to bottom, beige, pink);
    border: #000000 2px solid;
    margin: 2em;
    padding: 1em;
    border-radius: 2rem;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5);

    z-index: 0;
}

.component {
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* display: grid; */
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    left: 40%;
    width: 500px;
    font-family: "Times New Roman", Times, serif;
    z-index: 2;
    background-color: black;
    border-radius: 2%;
    color: white;
    /* box-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff; */
    box-shadow: 0px 5px 10px 0px rgba(0, 255, 255, 0.7);
}

.component:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 255, 255, 0.7);
}

.overlay {
    display: grid;
    overflow-y: scroll;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: auto;
    z-index: 1;
}
.CommentSection {
    text-align: center;
    background-color: grey;
    border: 2px dotted white;
    border-radius: 10px;
}
#GetmoreImagesButton {
    border-radius: 10px;
}

.button-class {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    background-color: white;
    transition-duration: 0.4s;
}
.submit-btn:hover {
    background-color: blue;
    color: white;
    transform: scale(1.15);
}

.comment-submit-btn {
    background-color: white;
    transition-duration: 0.4s;
}
.comment-submit-btn:hover {
    background-color: lightgrey;

    transform: scale(1.1);
}
#GetmoreImagesButton {
    background-color: white;
    transition-duration: 0.4s;
}
#GetmoreImagesButton:hover {
    background-color: lightpink;
    color: white;
    transform: scale(1.1);
}

.modalComponent {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}
#comment {
    margin-bottom: 10px;
}
